option_settings:
  aws:elasticbeanstalk:application:environment:
    # Flask server config
    FLASK_HOST: "0.0.0.0"
    FLASK_PORT: "5000"
    FLASK_DEBUG: "false"

    # App secrets (reemplaza por valores reales o configúralos en la consola de EB)
    SECRET_KEY: "production-secret-key-change-me"
    JWT_SECRET_KEY: "production-jwt-secret-change-me"

    # Logging
    LOG_LEVEL: "INFO"

    #DataBase
    DATABASE_URL: "postgresql+psycopg://blacklist_user:blacklist_pass@your-rds-endpoint.amazonaws.com:5432/blacklist_db"

    # Sugerencia: muchas apps (y Nginx en EB) usan esta var
    PORT: "5000"
